.contador-container {
    width: 450px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 3rem;
    color: #333;
    margin: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin: 30px 0 60px 0;
  }
  
  .count {
    font-weight: bold;
    color: #28a745;
  }

  .botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .botao-contador {
    background-color: #2faa4c;
    color: white;
    border: none;
    padding: 10px 22px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-contador:hover {
    background-color: #198130;
  }

  .decremento {
    background-color: #eb432d;
  }

  .decremento:hover {
    background-color: #cc3420;
  }

  .reset {
    background-color: lightgrey;
    color: #333;
  }

  .reset:hover {
    background-color: darkgrey;
  }
  